<div class="w2ui-page page-0 w2ui-account-form">
    <div class="w2ui-field">
        <label>설치위치</label>
        <div><input name="location"></div>
    </div>
    <div class="w2ui-field">
        <label>권한</label>
        <div> <input name="role_text"></div>
    </div>
    <div class="w2ui-field">
        <label>아이디</label>
        <div><input type="text" name="user_id"></div>
    </div>
    <div class="w2ui-field">
        <label>비밀번호</label>
        <div>
            <input type="password" name="password">
        </div>
    </div>
    <div class="w2ui-field">
        <label>비밀번호 확인</label>
        <div>
            <input type="password" name="password_chk"></br>
            <span id="error_text" style="display: none;">*비밀번호가 일치하지 않습니다.</span>
        </div>
    </div>
    <div class="w2ui-field">
        <label>이름</label>
        <div>
            <input type="text" name="name">
        </div>
    </div>
    <div class="w2ui-field">
        <label>연락처</label>
        <div>
            <input type="text" name="tel" maxlength="13">
        </div>
    </div>
    <div class="w2ui-field">
        <label>이메일</label>
        <div>
            <input type="text" name="mail">
        </div>
    </div>
    <div class="w2ui-field">
        <label>비고</label>
        <div>
            <input type="text" name="description">
        </div>
    </div>
</div>
<div class="w2ui-buttons w2ui-account-button">
    <button class="w2ui-btn" name="reset" id="reset-btn">초기화</button>
    <button class="w2ui-btn w2ui-btn-green" name="update" id="update-btn">수정</button>
    <button class="w2ui-btn w2ui-btn-blue" name="save" id="search-btn">등록</button>

</div>