<div class="contents-box">
    <div class="admin-container">
        <div class="container-top-box">
            <div class="contents-title"><span>계정 등록</span></div>
            <div class="contents-text"><p>계정을 등록하고 수정, 삭제 할 수 있습니다.</p></div>
        </div>
        <div class="container-bottom-box">
            <div class="bottom-left-box account-left-box">
                <div class="contents_grid" id="account_grid"></div>
            </div>
            <div class="bottom-right-box account-right-box">
                <div class="contents_form" id="account_form"></div>
                <!-- <div class="contents_newTitle" id="account_title_box"> 새 등록 된 계정 목록</div>
                <div class="contents_new_grid" id="newAccount_grid"></div> -->
            </div>
        </div>
    </div>    
</div>