<div class="contents-box">
    <div class="admin-container">
        <div class="container-top-box">
            <div class="contents-title"><span>알람 이력 조회</span></div>
            <div class="contents-text"><p>검지 가스의 위험 발생 이력을 조회, 출력 할 수 있습니다.</p></div>
        </div>
        <div class="container-bottom-box">
            <div class="bottom-left-box alarmList-left-box">
                <div class="contents_form" id="alarmList_form"></div>
            </div>
            <div class="bottom-right-box alarmList-right-box">
                <div class="contents_grid" id="alarmList_grid"></div>
            </div>
        </div>
    </div>    
</div>