<div class="contents-box">
    <div class="admin-container">
        <div class="container-top-box">
            <div class="contents-title"><span>CCTV 관리</span></div>
            <div class="contents-text"><p>CCTV 장비 정보를 수정 할 수 있습니다.</p></div>
        </div>
        <div class="container-bottom-box">
            <div class="bottom-left-box cctvInfo-left-box">
                <div class="contents_form" id="cctvInfo_form"></div>
            </div>
        </div>
    </div>    
</div>