<div class="w2ui-page page-0 w2ui-gasInfo-form">
    <div class="w2ui-form-top-area">
        <div class="w2ui-group-title">가스타입 정보</div>
        <div class="w2ui-group">
            <div class="w2ui-field w2ui-span4">
                <label></label>
                <div>
                    <input name="el_name">
                </div>
            </div>
            <div class="w2ui-field w2ui-span4">
                <label>가스명</label>
                <div>
                    <input name="name" readonly>
                </div>
            </div>
            <div class="w2ui-field w2ui-span4">
                <label>화학식</label>
                <div>
                    <input name="code" readonly>
                </div>
            </div>    
            <div class="w2ui-field w2ui-span4">
                <label>단위</label>
                <div>
                    <input name="unit" readonly>
                </div>
            </div>   
            <div class="w2ui-field w2ui-span4">
                <label>검지범위</label>
                <div>
                    <input name="measure_range" readonly>
                </div>
            </div>     
        </div>
    </div>

    <div class="w2ui-form-bottom-left-area w2ui-form-bottom">
        <div class="w2ui-group-title">안 전</div>
        <div class="w2ui-group">
            <div class="w2ui-field w2ui-span4">
                <div class="label-box"><label></label></div>
                <div>
                    <input name="el_s_sound">
                </div>
            </div>
            <div class="w2ui-field w2ui-span4">
                <div class="label-box"><label>범위 1</label></div>
                <div>
                    <input name="normal_low" readonly> - <input name="normal_high">
                </div>
            </div>
        </div>
    </div>
    <div  class="w2ui-form-bottom-right-area w2ui-form-bottom">
        <div class="w2ui-group-title">경 고</div>
        <div class="w2ui-group">
            <div class="w2ui-field w2ui-span4">
                <div class="label-box"><label></label></div>
                <div>
                    <input name="el_d_sound">
                </div>
            </div>
            <div class="w2ui-field w2ui-span4">
                <div class="label-box"><label>범위 1</label></div>
                <div>
                    <input name="warning1_low" readonly> - <input name="warning1_high">
                </div>
            </div>
            <div class="w2ui-field w2ui-span4">
                <div class="label-box"><label>범위 2</label></div>
                <div>
                    <input name="warning2_low" readonly> - <input name="warning2_high">
                </div>
            </div>
        </div>
    </div>
    <div class="w2ui-form-bottom-center-area w2ui-form-bottom">
        <div class="w2ui-group-title">위 험</div>
        <div class="w2ui-group">
            <div class="w2ui-field w2ui-span4">
                <div class="label-box"><label></label></div>
                <div>
                    <input name="el_n_sound">
                </div>
            </div>
            <div class="w2ui-field w2ui-span4">
                <div class="label-box"><label>범위 1</label></div>
                <div>
                    <input name="danger1_low" readonly> - <input name="danger1_high" readonly>
                </div>
            </div>
            <div class="w2ui-field w2ui-span4">
                <div class="label-box"><label>범위 2</label></div>
                <div>
                    <input name="danger2_low" readonly> - <input name="danger2_high" readonly>
                </div>
            </div>
        </div>
    </div>
    <div class="w2ui-buttons">
        <button class="w2ui-btn" name="reset" id="reset-btn">초기화</button>
        <button class="w2ui-btn w2ui-btn-blue" name="save" id="search-btn" disabled>저장</button>
    </div>