<div class="contents-box">
    <div class="admin-container">
        <div class="container-top-box">
            <div class="contents-title"><span>알림 수신자 등록</span></div>
            <div class="contents-text"><p>검지 가스의 위험 알람 문자 수신자를 등록하고 수정, 삭제 할 수 있습니다.</p></div>
        </div>
        <div class="container-bottom-box">
            <div class="bottom-left-box receiver-left-box">
                <div class="contents_grid" id="receiver_grid"></div>
            </div>
            <div class="bottom-right-box receiver-right-box">
                <div class="contents_form" id="receiver_form"></div>
                <div class="contents_newTitle" id="receiver_title_box"> 새 등록 된 알림수신자 목록</div>
                <div class="contents_new_grid" id="newReceiver_grid"></div>
            </div>
        </div>
    </div>    
</div>