<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Cache-Control" content="No-Cache">
    <script src="/plugins/socket/socket.io.js"></script>

    <title>Document</title>

    <script type="text/javascript" data-main="../init_mobile" src="/plugins/require/require.min.js"></script>

</head>

<body>
    <div class="component">

       
    </div>
</body>

</html>