/*defaul*/
/*
.name,.ename,.value,.unit{
	visibility: hidden ;
}
*/

/* 좌측 상태 4가지 전원 ON */

/*.tit .time .stateBox .severityBox*/

.success i{
	color: #C5C9CF;
}
.success span{
	color: #C5C9CF;
}
.severityBox.success{
	background: url("../img/left_range_1.png") no-repeat;
}


/*가스센서 정상*/
.sensor.nomal{
	background:url("../img/small/gauge_nomal.png") no-repeat;
}
.o2.sensor.nomal{
	background: url("../img/small/gauge_nomal.png") no-repeat;
}

/*가스센서 경고*/
.sensor.warning{
	background: url("../img/small/gauge_war.png") no-repeat;
}
.warning .value{
	color: #F6921E;
}
.o2.sensor.warning{
	background: url("../img/small/gauge_war.png") no-repeat;
}
/*가스센서 위험*/
.sensor.danger{
	background: url("../img/small/gauge_dan.png") no-repeat;
}
.danger .value{
	color: #FF0000;
}
.o2.sensor.danger{
	background: url("../img/small/gauge_dan.png") no-repeat;
}

/*차트버튼 - 현재차트*/
.btn li.select{
	background: #C5C9CF;
	color: #2e2e2e;
	font-weight: 500;
	border-right: dashed 1px #57585B;
	margin-right: 0;
	
}

/* 크롬만 적용 */
@media screen and (-webkit-min-device-pixel-ratio:0) { 
	.expand { pointer-events: none; }
 }

