/* CSS Document */

.toplogo{
	background-image: url("../img/lsv1_logo.png");
	width: 171px;
	height: 66px;
	margin: auto;
	margin-top: 25px;
}
.tit {
	display: block;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0px;
}
.tit span{
	font-size: 30px;	
	font-weight: 500;
	color: #4C4C4C;
}
.topbtn{
	text-align: center;
	margin-bottom: 36px;
}
.topbtn > div:hover {
	cursor: pointer;
}
.topbtn span{
	color: #C5C9CF;
	font-size: 14px;
}
.logout{
	display: inline-block;
	padding: 6px;
}
.adm{
	display: inline-block;
	padding: 6px;
}
.sensor-list{
	display: inline-block;
	padding: 6px;
}
.expand{
	display: inline-block;
	padding: 6px;
}
.volume-up,.volume-mute{
	display: none;
	padding: 6px;
}
.volume-up > i,
.volume-mute > i{
	margin-left: 7px;
	background-color: #ff0000 !important;
}
.topbtn i{
	width: 50px;
	height: 50px;
	background: #036eb8;
	border-radius: 50%;
	font-size: 20px;
	display: block;
	line-height: 50px;
	
}
.topbtn i:hover{
	color: #929292;
}

.camBox .view{
	width: 464px;
	height: 261px;
	background: #8F8F8F;
	display: inline-block;
	margin: 5px;
}


.line{
	width: 364px;
	height: 1px;
	border-top: 1px solid #4C4C4C;
	margin: auto;
}
span.time{
	font-size: 20px;
	color: #036eb8 !important;
}
span.description {
    margin-top: 7px;
}
span.ready{
	font-size: 20px;
}
.count i{
	font-size: 20px;
	color: #4C4C4C; 
	margin-right: 10px;
	vertical-align: middle;
	
}
.count{
	display: inline-block;
	margin-left: 25px;
	color: #C5C9CF;
	position: absolute;
}
.count > span {
    float: left;
    margin-right: 5px;
}
/*
.count span{
	font-size: 26px;
	font-weight: 400;
	color: #4c4c4c;
}
*/
.stateBox i{
	font-size: 26px;
	display: block;
	color: #4C4C4C;
	text-align: center;
}
.area{
	display: inline-block;
	padding: 20px 0;
	border-bottom: thin solid #4a4a4a;
	width: 75px;
}
.server.area{
	border-bottom: none;
}
.area span{
	color: #4C4C4C;
	font-size: 14px;
	text-align: center;
	display: block;
}
.severityBox{
	/* background: url("../img/left_range_0.png") no-repeat; */
}
.sensor{
	width: 270px;
	height: 270px;
	background:url("../img/small/gauge_default.png") no-repeat;
	display: inline-block;
	margin: 3px;
	float: left;
}
.Gauge .name{
	font-size: 28px;
	font-weight: 500;
	text-align: center;
	line-height: 32px;
}
.name {
	position:relative;
	top: 32px;
}
.ename{
	font-size: 20px;
	font-weight: 500;
	text-align: right;
	position: relative;
	top: 68px;
	right: 8px;
}
.Gauge .value{
	font-size: 48px;
	font-weight: 700;
	color: #16D63A;
	text-align: center;
}
.value{
	position: relative;
	top: 30px;
}
.unit{
	position: relative;
	top: 22px;
	text-align: center;
	font-size: 20px;
}

.btn{
	display: inline-block;
	float: left;
}
.btn li{
	background: #4A4A4A;
	color: #8F8F8F;
	font-size: 18px;
	margin-bottom: 4px;
	margin-right: 6px;
	text-align: center;
	line-height: 20px;
	padding: 31px 10px;

}
.btn li:hover {
	cursor: pointer;
    color: #ffffff;
}

.btn li:last-child{
	margin-bottom: 0;
}
.btn li:first-child{
	padding: 21px 0px;
}
.btn li > span{
	font-size: 14px;
	display: block;
	top: 4px;
	position: relative;
}
.Bottom img{
	float:right; 
}

.chartDiv{
	width: 100%;
	height: 50%;
	
}
.chartDiv a, .column-chartDiv a{
	display: none !important;
}
.chartBox ul {
    width: 100%;
    height: 100%;
    list-style: none;
}
li.chart-contents-box {
    width: 100%;
    height: 100%;
}

/* IDIS-cctv css */
.cctv-view {
    width: 100%;
    height: 100%;
}

#fetch-error {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
	height: 100%;
	font-size: 24px;
}


.rollingAt-box {
	position: absolute;
    display: flex;
    width: 45px;
    height: 45px;
    background-color: #2e2e2e;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    top: 386px;
    left: 1827px;
    font-size: 19px;
}

.rollingAt-box span#rolling-start-btn {
		display: none;
}
.rollingAt-box span#rolling-start-btn:hover {
	cursor: pointer;
}
.rollingAt-box:hover {
	cursor: pointer;
}