<div class="cctv-view">
    <object id='WatSearCtrl' codebase='http://dvrnames.net/safe01/WatSearCtrl.cab#Version=2,8,3,36'
      classid='clsid:ED4850BF-32D8-4e73-A231-52560EE27A5E' standby='Downloading the ActiveX Control...' width=464
      height=261 align=center hspace=0 vspace=0>
      <param name='RBTN' value='false'>
    </object>
  </div>