<div class="severityComp">
    <div class="comp-top">
        <div class="comp-title"><span>가스별 검지범위</span></div>
        <div class="comp-division">
            <span class="division safety">안전</span>
            <span class="division warning">경고</span>
            <span class="division danger">위험</span>
        </div>
    </div>
    <div class="comp-bottom">
        <ul class="comp-list">
            <li class="range voc">
                <div class="type">
                    <div class="gas-name">VOC</div>
                    <div class="gas-unit">PPM</div>
                </div>
                <div class="image">
                    <div class="level safety"></div>
                    <div class="level warning"></div>
                    <div class="level danger"></div>
                </div>
                <div class="range-value">
                    <div><span class="min-value"></span></div>
                    <div><span class="safety-value"></span></div>
                    <div><span class="warning-value"></span></div>
                    <div><span class="max-value"></span></div>
                </div>
            </li>
            <li class="range comb">
                <div class="type">
                    <div class="gas-name">가연성가스</div>
                    <div class="gas-unit">%LEL</div>
                </div>
                <div class="image">
                    <div class="level safety"></div>
                    <div class="level warning"></div>
                    <div class="level danger"></div>
                </div>
                <div class="range-value">
                    <div><span class="min-value"></span></div>
                    <div><span class="safety-value"></span></div>
                    <div><span class="warning-value"></span></div>
                    <div><span class="max-value"></span></div>
                </div>
            </li>
            <li class="range o2">
                <div class="type">
                    <div class="gas-name">산소</div>
                    <div class="gas-unit">%VOL</div>
                </div>
                <div class="image">
                    <div class="level danger-low"></div>
                    <!-- <div class="level warning-low"></div> -->
                    <div class="level safety-center"></div>
                    <!-- <div class="level warning-high"></div> -->
                    <div class="level danger-high"></div>
                </div>
                <div class="range-value o2-range-value">
                    <div><span class="min-value">0</span></div>
                    <!-- <div><span class="warning-low-value"></span></div> -->
                    <div><span class="safety-low-value"></span></div>
                    <div><span class="safety-high-value"></span></div>
                    <!-- <div><span class="warning-high-value"></span></div> -->
                    <div><span class="max-value"></span></div>
                </div>
            </li>
            <li class="range h2s">
                <div class="type">
                    <div class="gas-name">황화수소</div>
                    <div class="gas-unit">PPM</div>
                </div>
                <div class="image">
                    <div class="level safety"></div>
                    <div class="level warning"></div>
                    <div class="level danger"></div>
                </div>
                <div class="range-value">
                    <div><span class="min-value"></span></div>
                    <div><span class="safety-value"></span></div>
                    <div><span class="warning-value"></span></div>
                    <div><span class="max-value"></span></div>
                </div>
            </li>
            <li class="range co">
                <div class="type">
                    <div class="gas-name">일산화탄소</div>
                    <div class="gas-unit">PPM</div>
                </div>
                <div class="image">
                    <div class="level safety"></div>
                    <div class="level warning"></div>
                    <div class="level danger"></div>
                </div>
                <div class="range-value">
                    <div><span class="min-value"></span></div>
                    <div><span class="safety-value"></span></div>
                    <div><span class="warning-value"></span></div>
                    <div><span class="max-value"></span></div>
                </div>
            </li>
            
        </ul>
    </div>
</div>