@font-face {
    font-family: NotoSansKR-Regular;
    src: url(../../webfonts/Noto_Sans_KR/NotoSansKR-Regular.otf);
}
h1 {
    display: none;
}
body.ui-mobile-viewport.ui-overlay-a {
    background-color: #2e2e2e;
    margin: 0px !important;
    font-family: NotoSansKR-Regular;
}

.component {
    width: 100%;
    height: 100%;
    position: absolute;
}

.component-box{
    width: 100%;
    height: 100%;
}

span{
    text-shadow: 0 0 black;
}